* {
  box-sizing: border-box;
}

body {
    height: 100vh;
    padding: 15px 0;
    margin: 0;
}

.container {
  width: 80%;
  height: 100%;
  margin: 0 auto;
}

header {
    width: 100%;
    height: 10%;
    background-color: #4b4b4d;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

h1 {
    background-color: #d2d3d5;
    height: 50%;
    width: 200px;
    margin: 15px;
}

nav {
    display: flex;
    flex-direction: row;
}

nav a {
    width: 30px;
    height: 30px;
    background-color: #d2d3d5;
    border-radius: 50%;
    margin: 0 10 10 0;
    display: flex;
    justify-content: space-between;
}

section.top {
    height: 5%;
    width: 100%;
    margin-top: 24px;
    margin-bottom: 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

section.top div.topbox{
    background-color: #97989A;
    width: 19.5%;
    height: 100%;

}

section.middle {
    height: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

section.middle div.middlebox{
    background-color: #97989A;
    width: 33%;
    height: 100%;
}

section.bottom {
    margin-top: 24px;
    margin-bottom: 24px;
    width: 100%;
    height: 45%;


    display: grid;
    grid-template: 25% 1fr 25%;
}


section.bottom div.left-side {
    grid-column: 1 / 1;
    background-color: #858688;
    height: 100%;
    width: 100%;
  }

  section.bottom  div.main {
    grid-column: 2 / 5;
    background-color: #4B4B4D;
    height: 100%;
    width: 100%;
  }

section.bottom  div.right-side {
    grid-column: 5 / 5;
    background-color: #858688;
    height: 100%;
    width: 100%;
  }



footer {
    width: 100%;
    height: 10%;
    background-color: #4b4b4d;
}
